<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>LMN - Carnivore Bar - High Cholesterol</title>
</head>
<body>
    <div id="pdf">
        <div class="head">
            <div id="logo" style="display: inline-block;">
                <span>Health<b>Equity</b><sup>&#169</sup></span>
                <span>|</span>
                <span>WageWorks</span>
            </div>
            <div style="float: right;margin-top: 10px;">
                <span><b>Letter of Medical Necessity</b></span>
            </div>
        </div>
        <hr>
        <div class="upper-content">
            Your medical care provider must complete a Letter of Medical Necessity for any service or product that falls
            under the category of
            "Maybe Expense" or "Ineligible Expense" per IRC sec 213 (d) (1) if your provider believes the service or
            purchase is medically necessary
            for you or your eligible dependent(s). You may obtain a list of eligible and ineligible expenses, as well as
            a Claim Form, at
            <a href="https://www.HealthEquity.com/WageWorks">www.HealthEquity.com/WageWorks</a>.
        </div>
        <div class="table">
            <table id="participant"  style="font-size: 12px;">
                <tr>
                    <th>TO BE FILLED OUT BY PARTICIPANT</th>
                </tr>
                <tr>
                    <td>
                        <b>Patient Name</b><br>
                        <div>Anchor Ebanks</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Participant Name</b><br>
                        <div>Anchor Ebanks</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Participant Employer</b><br><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Last 4 digits of participant ID or SSN</b><br><br><br>
                    </td>
                </tr>
            </table>
        </div>

        <div class="table">
            <table id="practitioner"  style="font-size: 12px;">
                <tr>
                    <th>TO BE FILLED OUT BY LICENSED PRACTITIONER</th>
                </tr>
                <tr>
                    <td>
                        <b>Medical Condition </b><br>
                        <div>Management of high cholesterol (E78.00) </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Describe recommended treatment (frequency and dosage) </b><br>
                        <div>
                            <b>Treatment:</b> It is medically necessary that the patient consumes products such as
                            CARNIVORE BAR, 1-BAR SAMPLE from Carnivore Bar
                            Inc. as supplemental nutrition. The recommended dosage is one bar per day. Continued daily
                            use is recommended for a duration of 12
                            months to manage high cholesterol.
                        </div>
                        <div>
                            <b>Clinical Rationale:</b> High cholesterol levels are often associated with imbalances in
                            lipid metabolism and inflammation. The CARNIVORE
                            BAR provides a source of high-quality protein and healthy fats, such as omega-3 fatty acids,
                            that help modulate cholesterol levels and reduce
                            inflammation. The bar's grass-finished beef contains nutrients like niacin and omega-6 to
                            omega-3 fatty acid ratios that support healthy
                            cholesterol profiles. By providing these necessary nutrients, the CARNIVORE BAR may
                            contribute to the management of high cholesterol.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Duration of the treatment </b>
                        <div>February 13, 2024 to February 13, 2025</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="clarify">
            I certify that this service or product is medically necessary to treat the specific medical condition
            described above and is not in any way for
            general health or for cosmetic purposes.
        </div>
        <div class="sign">
            <table style="font-size: 12px;">
                <tr>
                    <th>Print Name of Licensed Practitioner </th>
                    <th>Signature of Licensed Practitioner</th>
                    <th>Date</th>
                </tr>
                <tr>
                    <td>Allison Bansen, NP</td>
                    <td><img src="https://wisestamp.com/wp-content/uploads/2020/08/Oprah-Winfrey-Signature-1.png" alt="signature"></td>
                    <td>February 13, 2024</td>
                </tr>
            </table>
        </div>

        <div class="note">
            NOTE: In order for the expense referred to on this Letter of Medical Necessity to be reimbursed, you must
            attach the detailed receipt or
            Explanation of Benefits from your Medical Insurance Provider and complete a Claim Form (certain expenses may
            require additional
            documentation). Documentation must include the date of service, the services rendered or product purchased
            and the person for whom the
            services were rendered and the amount charged. These documents are required with each claim filed.
        </div>
    </div>
</body>

</html>